# Base de datos
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=guakamole_db
POSTGRES_USER=guaka_user
POSTGRES_PASSWORD=guaka_password

# Servicios de soporte
REDIS_HOST=localhost

# Autenticación y Seguridad
JWT_SECRET=!guakamole_key
JWT_ALGORITHM=HS256
