.env
.DS_Store
*.exe
*.log

.vscode/
*.key
*.pem

node_modules/
__pycache__/
*.pyc
.venv/
venv/
.idea/
# Python tooling cache
.mypy_cache/
.pytest_cache/
.ruff_cache/

#Fronted
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?